a {
	text-decoration: none;
}

nav {
	background: #262A2D;
	height: 50px;
	padding: 0 16px;
}

.nav {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
	float: right;
}

.nav li {
	float: left;
	padding: 17px;
}

.nav a {
	color: #A3ADBB;
}

.nav a:hover {
	color: white;
}

.logo{
	width: 131px;
}